* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    animation: animate 9.5s ease infinite;
}

ol {
    padding-left: 30px;
    color: #a5bdc9;
}

hr.break-line {
    border-top: 1px solid #a5bdc9;
    margin: 15px 0;
}

.pageregras {
    width: 40%;
    height: 80%;
    display: block;
    margin: 0 auto;
    color: #e9e5e5;
    background-color: #384195;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: clamp(.4rem, .8rem, 1rem);
}

.rules {
    margin-top: 20px;
}

.btn-default {
    padding: 8px 17px;
    background-color: transparent;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    border-color: #1afff4;
    color: white;
    cursor: pointer;
    transition: .3s ease;   
}

button:hover {
    background-color: #8e8ef1;    
    border-color: #102894;
    color: white;
    transition: .3s ease; 
    opacity: 60%;  
}

.ancor-default {
    text-decoration: none;
}

p {
    margin: 10px 0;
}

@keyframes animate {
    0% {
        background-color: #6660bd;
    }
    25% {
        background-color: #58585e;
    }
    50% {
        background-color: #967eb6;
    }
    75% {
        background-color: #5b217c;
    }
    85% {
        background-color: #4f6777;
    }
    100% {
        background-color: #4b5474;
    }
}

@media screen and (max-width: 480px){
    .pageregras {
        width: 80%;
        height: 80%;
        display: block;
        margin: 30px auto;
    }
}